html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden !important;
}

body {
    min-width: 800px;
    min-height: 600px;
    background-image: url('/static/assets/img/bg/default.jpg');
    background-repeat:  no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

/*elements*/

[class*="el-flex-"] {
  display: flex;
  }
  .el-flex-horizontal {
  	flex-flow: row wrap;
  }
  .el-flex-vertical {
  	flex-flow: column wrap;
  }

.el-title {
	font-size: 2em;

}
/*end*/

/*helpers*/

/*end*/

/*main*/

#cardboard-box-B {
  position: fixed; top: 0; left: 0;

  background: transparent;

  height: 100vh; width: 100vw;

  padding: 0; margin: 0;
  }
  #atp-header {
  	display: flex; flex-flow: row wrap;	align-items: stretch; justify-content: center;

  	height: 12vh; width: 100vw;

  	background-color: rgba(0,0,0,0.4);
  	color: whitesmoke;
    }
    #atp-header--logo {
      display: flex; flex-flow: row nowrap; justify-content: center; align-items: center;

      background-color: rgba(0,0,0,0.4);
      padding: 0 10px 0 10px;
      flex-shrink: 1;
      }
      #atp-header--logo > img {
      	width: 200px;
      }
    #atp-header--title {
      flex-grow: 1;

      display: flex; flex-flow: column nowrap; justify-content: center; align-items: flex-start;

      padding: 10px 20px 10px 20px;
      text-align: left;
    }
  #atp-content {
  	display: flex; flex-flow: row wrap;	align-items: stretch; justify-content: center;

  	height: 80vh; width: 100vw;

 	padding: 0; margin: 0;
    }
    #atp-content--player {
      flex-grow: 1;

      display: flex; flex-flow: row wrap;	align-items: stretch; justify-content: center;

      margin: 20px 0 20px 20px;
      }
      #atp-content--player > iframe {
      	/*flex-grow: 1;*/
      	width: 60vw;
      	/*height: 80vh;*/
      	background-color: rgba(0,0,0,0.6);
      	padding: 10px;
        border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
      }
    #atp-content--chatbox {
      display: flex; flex-flow: column wrap; justify-content: center; align-items: stretch; align-self: stretch;

      width: 25vw;
      
      margin: 20px 20px 20px 0;
      }
      #atp-content--chatbox > iframe {
      	/*flex-grow: 1;*/
      	padding: 10px;
      	background-color: rgba(0,0,0,0.6);

      	border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
      }
  #atp-footer {
  	width: 100vw;
  }

/*end*/

.md-dark-theme.md-icon,
.md-dark-theme.md-button,
.md-dark-theme.material-icons,
.md-dark-theme .md-caption {
    color: rgba(255,255,255,0.87) !important;
}
