html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden !important;
}

body {
    min-width: 800px;
    min-height: 600px;
}

/*elements*/

/*end*/

/*helpers*/

/*end*/

/*main*/

#cardboard-box-B {
  position: fixed; top: 0; left: 0;

  background: transparent;

  height: 100vh; width: 100vw;

  padding: 0; margin: 0;
  }
  #atp-header {
  	height: 10vh; width: 100vw;

  	background-color: rgba(0,0,0,0.7);
  }
  #atp-content {
  	display: flex; flex-flow: row wrap;	align-items: stretch; justify-content: center;

  	height: 90vh; width: 100vw;

 	padding: 0; margin: 0;
    }
    #atp-player {
      flex-grow: 1;

      display: flex; flex-flow: row wrap;	align-items: stretch; justify-content: center;

      border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;

      background-color: rgba(0,0,0,0.3);
      }
      #atp-player > iframe {
      	flex-grow: 1;
      }
    #atp-chatbox {
      display: flex; flex-flow: column wrap; justify-content: stretch; align-items: center;

      border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;

      background-color: rgba(0,0,0,0.3);
      }
      #atp-chatbox > iframe {
      	flex-grow: 1;
      }
  #atp-footer {
  	width: 100vw;
  }

/*end*/

.md-dark-theme.md-icon,
.md-dark-theme.md-button,
.md-dark-theme.material-icons,
.md-dark-theme .md-caption {
    color: rgba(255,255,255,0.87) !important;
}
