html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden !important;
}

body {
    background: #4261cf;
    background: linear-gradient(45deg, #15152a 0%, #34447f 100%);
}

#content, #toolbar {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAG0lEQVQIW2NkYGCQBOLnQAwGjDAGNgGwSgwVAE+2AgXahLM7AAAAAElFTkSuQmCC) repeat;
}

.md-dark-theme.md-icon,
.md-dark-theme.md-button,
.md-dark-theme.material-icons,
.md-dark-theme .md-caption {
    color: rgba(255, 255, 255, 0.87);
}

md-badge {
    display: inline-block;
    background-color: #F44336;
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
}

md-menu-item md-badge {
    margin: 9px 0 0 10px;
}

.stream-title {
    font-size: 24px;
    vertical-align: middle;
    text-transform: none;
}

#chat {
    min-width: 400px;
    min-height: 200px;
}

.mobile #chat {
    min-width: 200px
}

.mobile #right-toolbar {
    display: none;
}

.mobile #left-toolbar {
    flex: 1;
}
