<!--object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" id="cyberplayer_jw" flex="none" player-inner>
	<param name="movie" value="http://cybergame.tv/players/cyberplayer26.swf?channel=atplay" />
	<param name="quality" value="high" />
	<param name="bgcolor" value="#000000" />
	<param name="wmode" value="direct" />
	<param name="allowScriptAccess" value="always" />
	<param name="allowFullScreen" value="true" />
	<embed
		src="http://cybergame.tv/players/cyberplayer26.swf?channel=atplay"
		quality="high"
		bgcolor="#000000"
		name="cyberplayer_jw"
		wmode="opaque"
		allowFullScreen="true"
		allowscriptaccess="always"
		type="application/x-shockwave-flash"
		pluginpage="http://www.macromedia.com/go/getflashplayer"
        flex="none"
        player-inner
		></embed>
</object-->
<iframe
    ng-src="{{'http://api.cybergame.tv/p/embed.php?type=embed&w=100pc&h=100pc&auto=true&advforced=true&c=' + c.selectedPlayer.channel}}"
    player-inner
    frameborder="0"
    scrolling="no"
    flex="grow"
></iframe>