<md-dialog aria-label="Правила" style="max-width: 1000px;">
    <form ng-cloak>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2 class="md-display-1" style="margin: 10px 0;">Привет, впервые у нас?</h2>
                <p><b>ATPlay.ch</b> - сайт про стримы на игровую и околоигровую тематику. Помимо стримов у нас есть <b>классный
                    чатик</b>. И вот в этом чатике есть некоторые <b>правила поведения</b>. А именно:</p>
                <ul>
                    <li>Запрещается выводить из себя других участников чата заведомо злящими и раздражающими
                        комментариями и прямыми или завуалированными оскорблениями. Наказание в первый раз - таймаут, за
                        продолжение - в бан.
                    </li>
                    <li>Запрещается выход из-под бана под другим ником - наказание бан вплоть до бана по маске подсети.
                    </li>
                    <li>Запрещается кидать ссылки с порнографическим содержанием любого характера даже под тегом НСФВ
                        (тег !!! - три восклицательных знака перед началом сообщения) - наказание таймаут, за повторное
                        нарушение - бан. Эротические ссылки (сисечки, попочки, фулл ньюд тянки в полный рост со
                        сведенными ногами) разрешены под тегом НСФВ, при посте без него - наказание таймаут.
                    </li>
                    <li>Запрещены спойлеры на тему стрима без тега спойлер (тег %% - двойные проценты в начале и в конце
                        спойлерящего текста, например %%спойлер%%) - наказание от очистки чата от ваших сообщений вплоть
                        до бана. Не стоит троллить псевдоспойлерами. Модератор может не знать спойлер это или нет и
                        забанит Вас по всем правилам чата.
                    </li>
                    <li>Кидать ссылки на свои стримы разрешено только во время ноустрима и только постоянным посетителям
                        ATPlay. За нарушение - таймаут постоянным посетителям, спамящим новичкам - бан.
                    </li>
                    <li>В чате существует команда "/ignore nickname" ("/unignore nickname" для снятия игнора). По
                        необходимости вводите ее без кавычек для игнорирования того кто вас раздражает. Несогласные с
                        данными правилами имеют право смотреть стрим без участия в чате.
                    </li>
                    <li>Если Вы считаете, что Вас несправедливо забанили, обращайтесь к администрации канала через
                        тикеты в чате,
                            <a href="https://vk.com/im?sel=-48508257" class="md-primary" target="_blank">сообщения сообщества ВКонтакте</a>
                        или
                        <a href="https://twitter.com/atPlay_channel" class="md-primary"  target="_blank"> личные сообщения Twitter</a>.
                    </li>
                </ul>

                <p>Кроме того, контент, находящийся на нашем сайте, подпадает под возрастные ограничения.</p>
                <p><strong>ЗАПРЕЩЕНО ДЛЯ ДЕТЕЙ</strong></p>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="accept()" class="md-raised md-warn">
                Нажимая на эту кнопку вы соглашаетесь с нашими правилами
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
