<!DOCTYPE html>
<html lang="en">
<head>
    <title>Atplay.ch</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css"/>


    <style type="text/css">
    </style>

    <script type="text/javascript">
    </script>
</head>

<body>
  <div id="cardboard-box-B">

    <div id="atp-header">
        
    </div>

    <div id="atp-content">
      <div id="atp-player">
        <iframe src="http://api.cybergame.tv/p/embed.php?c=atplay&type=embed" frameborder="0"></iframe>
      </div>
      <div id="atp-chatbox">
          <iframe frameborder="0" scrolling="no" id="chat_embed" src="https://atplay.ch:1337/chat.html"></iframe>
      </div>    
    </div>

    <div id="atp-footer">
        
    </div>
  </div>
</body>
</html>
