<!DOCTYPE html>
<html lang="en">
<head>
    <title>ATPlay.ch</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/app.css"/>

    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

    <script type="text/javascript">
        PRELOADED_CHANNELS = {{ preloaded_channels|safe }};
        USER_NAME = "{{ user.username }}";
    </script>
</head>

{%verbatim%}
<body ng-app="starterApp" layout="column" ng-controller="ChannelController as c" ng-cloak layout-fill>
<md-toolbar flex="none" class="" md-theme="dark" id="toolbar">
    <div class="md-toolbar-tools" layout="row">
        <div flex="none" style="width: 108px; height: 64px; margin-top: 10px; background-image: url('../static/assets/logo.png')"></div>
        <div flex="none" layout="row" player-inner toolbar-w>
            <div flex layout="column">
                <div class="md-title" flex="70">
                    <md-menu>
                        <md-button class="md-button" aria-label="channel" flex="none" ng-click="$mdOpenMenu($event)" ng-class="{'online': c.selectedPlayer.online}">
                            <md-icon md-svg-icon="{{ c.selectedPlayer.provider }}"></md-icon>
                            <md-badge ng-if="c.selectedPlayer.online">LIVE</md-badge>
                            {{ c.selectedPlayer.ch.name }} : {{ c.selectedPlayer.ch.status }}
                        </md-button>
                        <md-menu-content layout="column" md-theme="deep-purple">
                            <md-menu-item ng-repeat="player in c.flatChannels track by player.id" flex="grow" md-autofocus="player.id === c.selectedPlayer.id">
                                <md-button ng-click="c.selectChannel(player)">
                                    <md-badge ng-if="player.online" style="float: right;">LIVE</md-badge>
                                    <md-icon md-svg-icon="{{ player.provider }}"></md-icon>
                                    {{ player.ch.name }}: {{ player.provider }}
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
                <div class="md-caption" flex="30" style="padding: 0 14px">
                    {{ c.selectedPlayer.ch.streamerName }} стримит
                    {{ c.selectedPlayer.ch.game }} и его смотрит
                    {{ c.selectedPlayer.ch.totalViewers }} человек
                </div>
            </div>
        </div>
        <div flex="grow" layout="row">
            <div layout-fill layout="row">
                <div flex="none">
                    <md-button class="md-icon-button" href="https://www.youtube.com/user/ATPGAMESCHANNEL" aria="Youtube" target="_blank">
                        <md-tooltip>Наш канал на YouTube</md-tooltip>
                        <md-icon md-svg-icon="youtube"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" href="https://twitter.com/atPlay_channel" aria="Twitter" target="_blank">
                        <md-tooltip>Наш Twitter</md-tooltip>
                        <md-icon md-svg-icon="twitter"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" href="https://telegram.me/atplay" aria="Telegram" target="_blank">
                        <md-tooltip>Наш канал в Telegram</md-tooltip>
                        <md-icon md-svg-icon="telegram"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" href="https://vk.com/atplay" aria="Vk" target="_blank">
                        <md-tooltip>Наша группа ВКонтакте</md-tooltip>
                        <md-icon md-svg-icon="vk"></md-icon>
                    </md-button>
                </div>
                <span flex="grow"></span>
                <md-button flex="none" class="md-icon-button" aria="Chat popout" ng-click="c.chatPopup()">
                    <md-tooltip>Открыть чат в отдельном окне</md-tooltip>
                    <md-icon md-svg-icon="chat" style="fill: rgba(255, 255, 255, 0.87);"></md-icon>
                </md-button>
            </div>
        </div>
    </div>
</md-toolbar>

<div id="content" layout="row" flex="grow" layout-align="space-between">
    <div
        flex="none"
        ng-controller="PlayerController as p"
        layout="column"
        layout-align="center"
        layout-margin
        style="background: rgba(0, 0, 0, 0.2); border-radius: 15px;"
    >
        <div
            flex="none"
            class="md-whiteframe-10dp"
            player-inner
            style="margin: 0"
        >
            <div
                flex="none"
                ng-include="'/static/channels/view/' + c.selectedPlayer.provider + '.html'"
                style="overflow: hidden; background-color: black;"
                class="md-whiteframe-10dp"
                layout-fill
                ></div>
        </div>
    </div>
    <div flex="grow" style="min-width:350px" layout="column" layout-margin class="md-whiteframe-10dp">
        <iframe layout-fill flex="grow" frameborder="0" scrolling="no" id="chat_embed"
                src="https://atplay.ch:1337/chat.html"></iframe>
    </div>
</div>

<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<script src="/static/channels/Channels.js"></script>
<script src="/static/channels/ChannelController.js"></script>
<script src="/static/channels/ChannelService.js"></script>
<script src="/static/channels/PlayerDirective.js"></script>

<script type="text/javascript">
    angular
        .module('starterApp', ['ngMaterial', 'channels'])
        .config(function ($mdThemingProvider, $mdIconProvider, $sceDelegateProvider) {
            $mdIconProvider
                .icon("twitch", "/static/assets/svg/twitch.svg", 1140)
                .icon("cybergame", "/static/assets/svg/cybergame.svg", 85)
                .icon("ustream", "/static/assets/svg/ustream.svg", 682)
                .icon("youtube", "/static/assets/svg/youtube.svg", 128)
                .icon("vk", "/static/assets/svg/vk.svg", 980)
                .icon("twitter", "/static/assets/svg/twitter.svg", 512)
                .icon("telegram", "/static/assets/svg/telegram.svg", 512)
                .icon("chat", "/static/assets/svg/chat.svg", 48);

            $mdThemingProvider.definePalette('dark', {
                "50": "#c1c5da",
                "100": "#9198be",
                "200": "#6d77a9",
                "300": "#4d5583",
                "400": "#41496f",
                "500": "#363c5c",
                "600": "#2b2f49",
                "700": "#1f2335",
                "800": "#ffffff",
                "900": "#ffffff",
                "A100": "#c1c5da",
                "A200": "#9198be",
                "A400": "#41496f",
                "A700": "#1f2335"
            });

            $mdThemingProvider.theme('dark')
             .primaryPalette('dark');

            $sceDelegateProvider.resourceUrlWhitelist([
                'self',
                'http://api.cybergame.tv/**',
                "http://www.twitch.tv/**",
                "http://player.twitch.tv/**",
                "http://www.ustream.tv/embed/**"
            ]);

        })
        .run(function ($rootScope) {
            $rootScope.userName = USER_NAME;
        });
</script>

</body>
{%endverbatim%}
</html>
